/* .carousel */
.hero {
  @apply w-full h-screen
  overflow-hidden relative
  mt-[-80px];

  .carousel {
    /* Базовые стили для карточек .item —
    они абсолютные и располагаются поверх друг друга */
    .item {
      @apply absolute
        hidden md:block
        w-[180px] h-[250px]
        left-[70%] top-[80%]
        shadow-[var(--shadow-default)]
        border-rounded-variants
        bg-[50%_50%] bg-cover
        transform -translate-y-[70%];

      transition: 1s;
      z-index: 100;

      /* Первый и второй слайды растянуты на весь карусельный контейнер — это эффект "главного" слайда */
      &[data-position="0"],
      &[data-position="1"] {
        @apply block
        w-full h-full
        top-0 left-0
        rounded-none
        translate-y-0;
      }

      /* Последующие карточки позиционируются справа с шагом 200px */
      &[data-position="2"] {
        @apply left-[67%];
      }

      &[data-position="3"] {
        left: calc(67% + 200px);
      }

      &[data-position="4"] {
        left: calc(67% + 400px);
      }

      &[data-position="5"],
      &[data-position="6"],
      &[data-position="7"],
      &[data-position="8"],
      &[data-position="9"] {
        left: calc(67% + 600px);
      }

      .container {
        @apply hidden;
      }

      &[data-position="1"] .container {
        @apply flex flex-col
        h-full mx-auto;

        .content {
          @apply flex flex-col gap-4
            h-fit w-full sm:w-9/12 md:w-7/12 xl:w-8/12
            p-4 pb-6
            my-auto sm:mx-auto md:mx-0
            border-rounded-variants
            child:rounded-none child:sm:rounded-2xl
            bg-palette-90;

          .title {
            @apply h1-style
              uppercase;
            /*
            w-full md:w-2/3
            opacity: 0;
            */
            animation: animate 1s ease-in-out 0.3s 1 forwards;
          }

          .name {
            @apply hidden parent:block
              md:block h2-style;
          }

          .description {
            @apply hidden lg:block
              text-scale;
          }

          .buttoms {
            @apply flex items-center gap-8;

            .btn {
              @apply flex items-center justify-center
              w-fit cursor-pointer
              text-[1.2rem] font-medium
              text-palette
              whitespace-nowrap px-[15px] pt-[3px] pb-[7px]
              border-2 border-solid
              border-rounded-variants border-palette-accent
              bg-palette-secondary
              ui-hover;
            }
          }
        }
      }
    }
  }

  /* Прогресс-балка карусели, сколько ещё этот слайд будет отображаться */
  .hero-progress {
    @apply absolute
    top-0 left-0 right-0 h-1
    overflow-hidden
    bg-family-bg-light dark:bg-family-bg-dark
    child:bg-child-bg-light dark:child:bg-child-bg-dark
    parent:bg-parent-bg-light dark:parent:bg-parent-bg-dark
    z-2;

    .hero-progress__fill {
      @apply h-[100%]
      bg-family-accent-light dark:bg-family-accent-dark
      child:bg-child-accent-light dark:child:bg-child-accent-dark
      parent:bg-parent-accent-light dark:parent:bg-parent-accent-dark;
    }
  }
}
