/* Универсальная секция */
.section-block {
  @apply pt-16;

  .section-block__header {
    @apply flex flex-col gap-4
      items-center text-center;

    .section-block__title {
      @apply h1-style;
    }

    .section-block__subtitle {
      @apply order-first text-sm font-medium
      px-4 py-1.5
      border-rounded-variants
      bg-palette-secondary;
    }

    .section-block__description {
      @apply max-w-[42rem] text-center;
    }
  }

  .section-block__content {
    @apply py-8;
  }

  /* Элементы, у которых нет дочерних элементов */
  *:not(:has(*)) {
    @apply fadeInUp;
  }

  &:last-child {
    @apply pb-16;
  }
}
