/* HTML-элементы */

body {
  /* Задаём цвета фона и текста */
  /* Переиспользуемыми классами */
  @apply bg-palette text-palette
  /* Анимация */
  transition-colors duration-300 ease-in-out;
}

button {
  @apply border m-6 px-3 py-2;
}
