/* HTML-элементы */

body {
  /* Задаём цвета фона и текста */
  /* Вначале используем светлую тему */
  @apply bg-background-primary
  text-text-primary
  /* Затем добавляем тёмную тему для поддержки dark mode */
  dark:bg-background-primary-dark
  dark:text-text-primary-dark
  /* Детская палитра */
  kid:bg-background-kid-primary
  kid:text-text-kid-primary
  /* Затем добавляем тёмную тему для поддержки dark mode */
  kid:dark:bg-background-kid-primary-dark
  kid:dark:text-text-kid-primary-dark
  /* Родительская палитра */
  parent:bg-background-parent-primary
  parent:text-text-parent-primary
  /* Затем добавляем тёмную тему для поддержки dark mode */
  parent:dark:bg-background-parent-primary-dark
  parent:dark:text-text-parent-primary-dark
  /* Анимация */
  transition-colors duration-300 ease-in-out;
}

button {
  @apply border m-6 px-3 py-2;
}
