/* ============
  Reusable Styles
=============== */

@layer components {
  .bg-palette {
    @apply bg-family-bg-light dark:bg-family-bg-dark
           child:bg-child-bg-light dark:child:bg-child-bg-dark
           parent:bg-parent-bg-light dark:parent:bg-parent-bg-dark;
  }

  .bg-palette-90 {
    @apply bg-family-bg-light/90 dark:bg-family-bg-dark/90
           child:bg-child-bg-light/90 dark:child:bg-child-bg-dark/90
           parent:bg-parent-bg-light/90 dark:parent:bg-parent-bg-dark/90;
  }
}
