/*********************************/
/************ Скелетон ***********/
/*********************************/

.skeleton-line {
  @apply inline-block border-rounded-variants
    h-[1em] animate-pulse
    bg-palette-text-50
    w-[calc(var(--skeletonLineWidth, 32)ch)];
}

.skeleton-lines {
  @apply flex flex-col w-full
  gap-2 items-center;

  .skeleton-line {
    @apply w-full;

    &:last-child {
      @apply w-3/4;
    }
  }
}
