@import "tailwindcss";

@import "./variants.css";

@import "./dissable-animation.css";

@import "./theme.css";

@import "./reusable.css"; /* Утилиты */
@import "./elements.css";

/* Скелетон */
@import "./skeleton.css";

@import "./components/header.css";
@import "./components/hero.css";
@import "./components/section-block.css";
@import "./components/audience-switcher.css";
